<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="zhexiantu" class="zhexiantu"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '睡觉', count: 40, percent: 0.4 },
      { item: '刷抖音', count: 21, percent: 0.21 },
      { item: '上课', count: 17, percent: 0.17 },
      { item: '吃饭 ', count: 13, percent: 0.13 },
      { item: '行走中', count: 9, percent: 0.09 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { week: 'Monday', expend: 275 },
      { week: 'Tuesday', expend: 115 },
      { week: 'Wednesday', expend: 120 },
      { week: 'Thursday', expend: 350 },
      { week: 'Friday', expend: 150 },
      { week: 'Saturday', expend: 340 },
      { week: 'Sunday', expend: 230 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', 'week') // 编码 x 通道
      .encode('y', 'expend'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: '支出', 月份: 'Jan.', 月均花销:222  },
      { name: '支出', 月份: 'Feb.', 月均花销: 667 },
      { name: '支出', 月份: 'Mar.', 月均花销: 587 },
      { name: '支出', 月份: 'Apr.', 月均花销: 769 },
      { name: '支出', 月份: 'May', 月均花销:777 },
      { name: '支出', 月份: 'Jun.', 月均花销: 589 },
      { name: '支出', 月份: 'Jul.', 月均花销: 855 },
      { name: '支出', 月份: 'Aug.', 月均花销: 588 },
      { name: '收入', 月份: 'Jan.', 月均花销: 124 },
      { name: '收入', 月份: 'Feb.', 月均花销: 232 },
      { name: '收入', 月份: 'Mar.', 月均花销: 345 },
      { name: '收入', 月份: 'Apr.', 月均花销: 597 },
      { name: '收入', 月份: 'May', 月均花销: 526 },
      { name: '收入', 月份: 'Jun.', 月均花销: 355 },
      { name: '收入', 月份: 'Jul.', 月均花销: 374 },
      { name: '收入', 月份: 'Aug.', 月均花销: 424 },
    ];
  
  // 初始化图表实例
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '月均花销')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
  
  const data4 = [
    { year: '2016', value: 3 },
    { year: '2017', value: 4 },
    { year: '2018', value: 3.5 },
    { year: '2019', value: 5 },
    { year: '2020', value: 4.9 },
    { year: '2021', value: 6 },
    { year: '2022', value: 7 },
    { year: '2023', value: 9 },
    { year: '2024', value: 13 },
  ];
  
  // 初始化图表实例
  const chart4 = new G2.Chart({
    container: 'zhexiantu',
  
  });
  
  chart4
    .data(data4)
    .encode('x', 'year')
    .encode('y', 'value')
    .scale('x', {
      range: [0, 1],
    })
    .scale('y', {
      domainMin: 0,
      nice: true,
    });
  
  chart4.line().label({
    text: 'value',
    style: {
      dx: -10,
      dy: -12,
    },
  });
  
  chart4.point().style('fill', 'white').tooltip(false);
  
  chart4.render();
  
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .zhexiantu{
      width:50%;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>