<div class="page">
  <h1 style="width:100%">我的小账本</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="mixzhu" class="mixzhu"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '栗景红格格', count: 30, percent: 0.3 },
    { item: '栗哥', count: 31, percent: 0.31 },
    { item: '景哥', count: 18, percent: 0.18 },
    { item: '红哥', count: 21, percent: 0.21 },
    { item: 'aka栗哥哥', count: 10, percent: 0.1 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
    { genre: '小乔', sold: 275 },
    { genre: '大桥', sold: 115 },
    { genre: '兰陵王', sold: 120 },
    { genre: '猴子', sold: 350 },
    { genre: '猪八戒', sold: 150 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', 'genre') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
    { name: '典韦', 英雄名字: 'Jan.', 伤害: 18.9 },
    { name: '孙尚香', 英雄名字: 'Feb.', 伤害: 28.8 },
    { name: '孙悟空', 英雄名字: 'Mar.', 伤害: 39.3 },
    { name: '诸葛亮', 英雄名字: 'Apr.', 伤害: 81.4 },
    { name: '武则天', 英雄名字: 'May', 伤害: 47 },
    { name: '诺手', 英雄名字: 'Jun.', 伤害: 20.3 },
    { name: '鳄鱼', 英雄名字: 'Jul.', 伤害: 24 },
    { name: '锤石', 英雄名字: 'Aug.', 伤害: 35.6 },
    { name: '盾山', 英雄名字: 'Jan.', 伤害: 12.4 },
    { name: '野牛', 英雄名字: 'Feb.', 伤害: 23.2 },
    { name: 'M4A1', 英雄名字: 'Mar.', 伤害: 34.5 },
    { name: 'M4A4', 英雄名字: 'Apr.', 伤害: 99.7 },
    { name: 'AK47', 英雄名字: 'May', 伤害: 52.6 },
    { name: 'USB消音', 英雄名字: 'Jun.', 伤害: 35.5 },
    { name: 'AWM大狙', 英雄名字: 'Jul.', 伤害: 37.4 },
    { name: '鸟狙', 英雄名字: 'Aug.', 伤害: 42.4 },
  ];

  const chart3 = new G2.Chart({
    container: 'mixzhu',
  });

  chart3
    .interval()
    .data(data3)
    .encode('x', '英雄名字')
    .encode('y', '伤害')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });

  chart3.render();


</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
</style>
