<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="tu" class="tu"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [                    
      { item: '中国GDP', count: 40, percent: 0.4 },
      { item: '美国GDP', count: 21, percent: 0.21 },
      { item: '英国GDP', count: 17, percent: 0.17 },
      { item: '日本GDP', count: 13, percent: 0.13 },
      { item: '非洲GDP                    ', count: 9, percent: 0.09 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { genre: '羽毛球', sold: 100 },
      { genre: '篮球', sold: 115 },
      { genre: '乒乓球', sold: 120 },
      { genre: '足球', sold: 200 },
      { genre: '橄榄球', sold: 250 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', 'genre') // 编码 x 通道
      .encode('y', 'sold'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: '中国GDP', 年份: 'Jan.', 月增长GDP: 30.9 },
      { name: '中国GDP', 年份: 'Feb.', 月增长GDP: 28.8 },
      { name: '中国GDP', 月份: 'Mar.', 月增长GDP: 21.3 },
      { name: '中国GDP', 月份: 'Apr.', 月增长GDP: 12.4 },
      { name: '中国GDP', 月份: 'May', 月增长GDP: 47 },
      { name: '中国GDP', 月份: 'Jun.', 月增长GDP: 20.3 },
      { name: '中国GDP', 月份: 'Jul.', 月增长GDP: 24 },
      { name: '中国GDP', 月份: 'Aug.', 月增长GDP: 35.6 },
      { name: 'Berlin', 月份: 'Jan.', 月增长GDP: 12.4 },
      { name: 'Berlin', 月份: 'Feb.', 月增长GDP: 23.2 },
      { name: 'Berlin', 月份: 'Mar.', 月增长GDP: 34.5 },
      { name: 'Berlin', 月份: 'Apr.', 月增长GDP: 66.7 },
      { name: 'Berlin', 月份: 'May', 月增长GDP: 52.6 },
      { name: 'Berlin', 月份: 'Jun.', 月增长GDP: 35.5 },
      { name: 'Berlin', 月份: 'Jul.', 月增长GDP: 37.4 },
      { name: 'Berlin', 月份: 'Aug.', 月增长GDP: 42.4 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '月增长GDP')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
  
  const chart = new G2.Chart({
    container: 'tu',
    
  });
  
  chart
    .path()
    .data({
      type: 'inline',
      value: [
        { sets: ['A'], size: 15, label: 'A' },
        { sets: ['B'], size: 12, label: 'B' },
        { sets: ['C'], size: 10, label: 'C' },
        { sets: ['A', 'B'], size: 2, label: 'A&B' },
        { sets: ['A', 'C'], size: 2, label: 'A&C' },
        { sets: ['B', 'C'], size: 1, label: 'B&C' },
        { sets: ['A', 'B', 'C'], size: 1 },
      ],
      transform: [
        {
          type: 'venn',
        },
      ],
    })
    .encode('d', 'path')
    .encode('color', 'key')
    .encode('shape', 'hollow')
    .label({
      position: 'inside',
      text: (d) => d.label || '',
      fill: '#000',
    })
    .style('opacity', 0.6)
    .style('lineWidth', 8)
    .tooltip(false);
  
  chart.render();
  
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:30%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .tu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>