<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="gupiaotu" class="gupiaotu"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '伙食费', count: 40, percent: 0.4 },
      { item: '买彩票', count: 21, percent: 0.21 },
      { item: '买蛋糕', count: 17, percent: 0.17 },
      { item: '出去玩', count: 13, percent: 0.13 },
      { item: '喝奶茶', count: 9, percent: 0.09 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { genre: 'Sports', sold: 275 },
      { genre: 'Strategy', sold: 115 },
      { genre: 'Action', sold: 120 },
      { genre: 'Shooter', sold: 350 },
      { genre: 'Other', sold: 150 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', 'genre') // 编码 x 通道
      .encode('y', 'sold'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: 'London', 月份: 'Jan.', 月消费: 1500 },
      { name: 'London', 月份: 'Feb.', 月消费: 1600 },
      { name: 'London', 月份: 'Mar.', 月消费: 1400 },
      { name: 'London', 月份: 'Apr.', 月消费: 1600 },
      { name: 'London', 月份: 'May', 月消费: 800 },
      { name: 'London', 月份: 'Jun.', 月消费: 1800 },
      { name: 'London', 月份: 'Jul.', 月消费: 2000},
      { name: 'London', 月份: 'Aug.', 月消费: 1400 },
      { name: 'Berlin', 月份: 'Jan.', 月消费: 1800 },
      { name: 'Berlin', 月份: 'Feb.', 月消费: 800 },
      { name: 'Berlin', 月份: 'Mar.', 月消费: 900 },
      { name: 'Berlin', 月份: 'Apr.', 月消费: 2500 },
      { name: 'Berlin', 月份: 'May', 月消费: 3000 },
      { name: 'Berlin', 月份: 'Jun.', 月消费: 1850 },
      { name: 'Berlin', 月份: 'Jul.', 月消费: 1940 },
      { name: 'Berlin', 月份: 'Aug.', 月消费: 7500 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '月消费')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
    const chart = new G2.Chart({
    container: 'gupiaotu',
    
  });
  
  chart
    .data({
      type: 'fetch',
      value: 'https://assets.antv.antgroup.com/g2/aapl2.json',
      transform: [
        {
          type: 'map',
          callback: (d) => ({
            ...d,
            Date: new Date(d.Date),
          }),
        },
      ],
    })
    .scale('color', {
      domain: [1, 0, -1],
      range: ['#4daf4a', '#999999', '#e41a1c'],
    });
  
  chart
    .link()
    .encode('x', 'Date')
    .encode('y', ['Low', 'High'])
    .encode('color', (d) => Math.sign(d.Close - d.Open)) // For LegendFilter.
    .style('stroke', 'black')
    .tooltip({
      title: (d) => d.Date.toLocaleString(),
      items: [
        { field: 'Low', name: 'low' },
        { field: 'High', name: 'high' },
      ],
    });
  
  chart
    .link()
    .encode('x', 'Date')
    .encode('y', ['Open', 'Close'])
    .encode('color', (d) => Math.sign(d.Close - d.Open))
    .style('radius', 2)
    .style('fillOpacity', 1)
    .style('lineWidth', 4)
    .style('lineCap', 'round')
    .tooltip({
      title: '',
      items: [
        { field: 'Open', name: 'open' },
        { field: 'Close', name: 'close' },
      ],
    });
  
  chart.interaction('tooltip', { shared: true, groupName: false });
  
  chart.render();
  
  
  
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .gupiaotu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    
  </style>