<div class="page">
  <h1 style="width:100%">我的英雄战力比例</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="mixzhu" class="mixzhu"></div>
  <!-- <div id="chart6" class="mixzhu"></div> -->
  <div id="container"class="mixzhu"></div>
  <div id="chart10"class="ingxiong"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '花木兰', count: 40, percent: 0.3 },
    { item: '百里守约', count: 21, percent: 0.2 },
    { item: '墨子', count: 17, percent: 0.15 },
    { item: '小乔', count: 13, percent: 0.15 },
    { item: '马可波罗', count: 9, percent: 0.2 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
    { 英雄名称: '裴擒虎', sold: 255 },
    { 英雄名称: '庄周', sold: 135 },
    { 英雄名称: '项羽', sold: 170 },
    { 英雄名称: '韩信', sold: 350 },
    { 英雄名称: '夏洛特', sold: 100 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', '英雄名称') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
    { name: 'London', 英雄名称: '兰陵王.', 出场总次数: 128 },
    { name: 'London', 英雄名称: '小乔.', 出场总次数: 113 },
    { name: 'London', 英雄名称: '百里守约.', 出场总次数: 239 },
    { name: 'London', 英雄名称: '马可波罗.', 出场总次数: 81 },
    { name: 'London', 英雄名称: '鲁班七号', 出场总次数: 147 },
    { name: 'London', 英雄名称: '狂铁.', 出场总次数: 220 },
    { name: 'London', 英雄名称: '李信.', 出场总次数: 124 },
    { name: 'London', 英雄名称: '司空震.', 出场总次数: 115 },
    { name: 'Berlin', 英雄名称: '猪八戒.', 出场总次数: 121 },
    { name: 'Berlin', 英雄名称: '墨子.', 出场总次数: 123 },
    { name: 'Berlin', 英雄名称: '不知火舞.', 出场总次数: 134 },
    { name: 'Berlin', 英雄名称: '花木兰.', 出场总次数: 399 },
    { name: 'Berlin', 英雄名称: '阿轲', 出场总次数: 252 },
    { name: 'Berlin', 英雄名称: '孙悟空.', 出场总次数: 235 },
    { name: 'Berlin', 英雄名称: '澜.', 出场总次数: 171 },
    { name: 'Berlin', 英雄名称: '马超.', 出场总次数: 142 },
  ];

  const chart3 = new G2.Chart({
    container: 'mixzhu',
  });

  chart3
    .interval()
    .data(data3)
    .encode('x', '英雄名称')
    .encode('y', '出场总次数')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });

  chart3.render();



//   const chart4 = new G2.Chart({
//     container: 'liquid',
//   });

//   // chart4
//   // .liquid()
//   // .data(0.9)
//   // .style({
//   //   backgroundFill: 'pink',
//   // });
//   chart4
//   .liquid()
//   .data(0.3)
//   .style({
//     outlineBorder: 4,
//     outlineDistance: 8,
//     waveLength: 128,
//   });

// chart4.render();

const chart6 = new G2.Chart({
  container: 'chart6',
  width: 100,
  height: 100,
});

chart6.coordinate({ type: 'theta' });

chart6
  .interval()
  .data([
    { id: 'c', value: 526 },
    { id: 'sass', value: 220 },
    { id: 'php', value: 325 },
    { id: 'elixir', value: 561 },
    { id: 'rust', value: 54 },
  ])
  .transform({ type: 'stackY' })
  .encode('y', 'value')
  .encode('color', 'id')
  .style('radius', 4)
  .style('stroke', '#fff')
  .style('lineWidth', 1)
  .animate('enter', { type: 'waveIn' })
  .axis(false)
  .legend(false);

chart6.interaction('tooltip', {
  render: (e, { title, items }) => items[0].value,
});

chart6.render();


const chart = new Chart({
  container: 'container',
  autoFit: true,
});

chart
  .liquid()
  .data(0.3)
  .style({
    outlineBorder: 4,
    outlineDistance: 8,
    waveLength: 128,
  });

chart.render();







const chart10 = new G2. Chart({
  container: 'yingxiong',
  autoFit: true,
});

chart10
  .line()
  .data({
    type: 'fetch',
    value:
      'https://gw.alipayobjects.com/os/bmw-prod/551d80c6-a6be-4f3c-a82a-abd739e12977.csv',
  })
  .encode('x', 'date')
  .encode('y', 'close')
  .animate('enter', { type: 'pathIn', duration: 1000 });

chart10.render();

</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .xinyujifeng {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  .chart10 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>