<div class="page">
    <h1 style="width:100%"> 账 本 </h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="mjitu" class="mjitu"></div>
  </div>
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
//柱状图
    const data1 = 
  [
    { genre: 'Sports', sold: 275 },
    { genre: 'Strategy', sold: 115 },
    { genre: 'Action', sold: 120 },
    { genre: 'Shooter', sold: 350 },
    { genre: 'Other', sold: 150 },
  ];
  // 初始化图表实例
  const chart1 = new G2.Chart
  ({
    container: 'zhuzhuangtu',
  });
  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', 'genre') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道
  // 渲染可视化
  chart1.render();


//饼图
  const data2 = 
  [
    { item: '事例一', count: 40, percent: 0.4 },
    { item: '事例二', count: 21, percent: 0.21 },
    { item: '事例三', count: 17, percent: 0.17 },
    { item: '事例四', count: 13, percent: 0.13 },
    { item: '事例五', count: 9, percent: 0.09 },
  ];
  const chart2 = new G2.Chart
  ({
    container: 'bingtu',
  });
  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label
    ({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));
  chart2.render();


//混合柱状图
const data3 = 
[
    { name: 'i', 天: 'monday', 日使用: 18.9 },
    { name: 'i', 天: 'tuesday', 日使用: 28.8 },
    { name: 'i', 天: 'wednesday', 日使用: 39.3 },
    { name: 'i', 天: 'thursday', 日使用: 81.4 },
    { name: 'i', 天: 'friday', 日使用: 47 },
    { name: 'i', 天: 'saturday', 日使用: 20.3 },
    { name: 'i', 天: 'sunday', 日使用: 24 },
    { name: 'you', 天: 'Jan', 日使用: 12.4 },
    { name: 'you', 天: 'Feb', 日使用: 23.2 },
    { name: 'you', 天: 'Mar', 日使用: 34.5 },
    { name: 'you', 天: 'Apr', 日使用: 99.7 },
    { name: 'you', 天: 'May', 日使用: 52.6 },
    { name: 'you', 天: 'Jun', 日使用: 35.5 },
    { name: 'you', 天: 'Jul', 日使用: 37.4 },
  ];
  const chart3 = new G2.Chart
  ({
    container: 'mixzhu',
  });
  chart3
    .interval()
    .data(data3)
    .encode('x', '天')
    .encode('y', '日使用')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });
  chart3.render();


//面积图
const data4 = 
[
  { week: '一', money: 325 },
  { week: '二', money: 335 },
  { week: '三', money: 300 },
  { week: '四', money: 315 },
];
const chart4 = new G2.Chart
({
  container: 'mjitu',
});
chart4.data(data4);
chart4
  .area()
  .encode('x', (d) => d.week)
  .encode('y', 'money')
  .encode('shape', 'area') // 'area', 'smooth', 'hvh', 'vh', 'hv'
  .style('opacity', 0.2)
  .axis('y', { labelFormatter: '~s', title: false });

chart4.line().encode('x', 'year').encode('y', 'value').encode('shape', 'line'); // 'line', 'smooth', 'vh', 'hv', 'hvh'
chart4.render();

  </script>

  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .mjitu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>