<div class="page">
    <h1 style="width:100%;align: center;">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="zhexian" class="zhexian"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '转账', count: 30, percent: 0.3 },
      { item: '充值消费', count: 15, percent: 0.15 },
      { item: '红包', count: 10, percent: 0.1 },
      { item: '餐饮', count: 30, percent: 0.3 },
      { item: '游玩', count: 15, percent: 0.15 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { 上半年月份: '一月', 上半年月消费金额: 2350 },
      { 上半年月份: '二月', 上半年月消费金额: 2250 },
      { 上半年月份: '三月', 上半年月消费金额: 2600 },
      { 上半年月份: '四月', 上半年月消费金额: 2700 },
      { 上半年月份: '五月', 上半年月消费金额: 2650 },
      { 上半年月份: '六月', 上半年月消费金额: 1950},
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', '上半年月份') // 编码 x 通道
      .encode('y', '上半年月消费金额'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
    const data3 = [
      { 下半年月份: '七月.', 下半年月消费金额: 2600 },
      { 下半年月份: '八月', 下半年月消费金额: 2700 },
      { 下半年月份: '九月', 下半年月消费金额: 3700 },
      { 下半年月份: '十月.', 下半年月消费金额: 2950 },
      { 下半年月份: '十一月', 下半年月消费金额: 3100},
      { 下半年月份: '十二月', 下半年月消费金额: 2800 },
      
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '下半年月份')
      .encode('y', '下半年月消费金额')
  
    chart3.render();
  
    const data4 = [
      { 年份: '2018', 总消费金额: 40000 },
      { 年份: '2019', 总消费金额: 38800 },
      { 年份: '2020', 总消费金额: 36000 },
      { 年份: '2021', 总消费金额: 28000 },
      { 年份: '2022', 总消费金额: 36000 },
      { 年份: '2023', 总消费金额: 27000 },
     
    ];
  
    const chart4 = new G2.Chart({
      container: 'zhexian',
    });
  
    chart4
      .data(data4)
      .encode('x', '年份')
      .encode('y', '总消费金额')
      .scale('x', {
       range: [0, 1],
      })
      .scale('y', {
       domainMin: 0,
       nice: true,
      });
  
    chart4.line().label({
      text: '金额',
      style: {
      dx: -10,
      dy: -12,
      },
      });
    chart4.point().style('fill', 'black').tooltip(false);
    chart4.render();
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .zhexian {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>