<div class="page">
  <h1 style="width:100%">我的小账本</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="mixzhu" class="mixzhu"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '狗屁王一代', count: 30, percent: 0.3 },
    { item: '狗屁王二代', count: 40, percent: 0.4 },
    { item: '迷你毒蝰', count: 8, percent: 0.08 },
    { item: '标准毒蝰', count: 10, percent: 0.10 },
    { item: 'G102罗技', count: 12, percent: 0.12 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
    { genre: '食品', sold: 275 },
    { genre: '娱乐', sold: 115 },
    { genre: '游戏', sold: 120 },
    { genre: '药品', sold: 350 },
    { genre: '其它', sold: 150 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', 'genre') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
    { name: '雷神', 枪械: '头部.', 伤害: 90 },
    { name: '雷神', 枪械: '手部.', 伤害: 52 },
    { name: '雷神', 枪械: '脚部.', 伤害: 32 },
    { name: '幻神', 枪械: '头部.', 伤害: 100 },
    { name: '幻神', 枪械: '手部', 伤害: 99 },
    { name: '幻神', 枪械: '脚部.', 伤害: 87 },
    { name: '毁灭', 枪械: '头部.', 伤害: 100 },
    { name: '毁灭', 枪械: '手部.', 伤害: 100 },
    { name: '毁灭', 枪械: '脚部.', 伤害: 100 },
    { name: '火麒麟', 枪械: '头部.', 伤害: 100 },
    { name: '火麒麟', 枪械: '手部.', 伤害: 50 },
    { name: '火麒麟', 枪械: '脚部.', 伤害: 32 },
    { name: '朱雀', 枪械: '头部', 伤害: 100 },
    { name: '朱雀', 枪械: '手部.', 伤害: 64 },
    { name: '朱雀', 枪械: '脚部.', 伤害: 23 },
    { name: '无影', 枪械: '头部.', 伤害: 100 },
  ];

  const chart3 = new G2.Chart({
    container: 'mixzhu',
  });

  chart3
    .interval()
    .data(data3)
    .encode('x', '枪械')
    .encode('y', '伤害')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });

  chart3.render();


</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>